.select2-results-container {
    border: 1px solid #ddd;    
    width: 100%;
    max-height: 200px;
    overflow-y: auto;
    position: absolute;
    background: #fff;
    margin-top: -11px;
    z-index: 3;
}

.select2-result {
    padding: 5px;
    position: relative;
    width: 100%;
}

.select2-result:hover {
    cursor: pointer;
}

.active {
    background: #337ab7;
    color: #fff;
}

.selected {
    background: #EEE;
    color: black;
}