ul {
    list-style-type: none;
    position: relative;
}

ul li {
    display: inline-block;
}

ul.simple-selection li {
    display: block;
}

input {
    border: none;
    padding: 0;
}

input:focus {
    outline: none;
}

.simple-selection input.transparent {
    opacity: 0;
    position: absolute;
    top: 0;
    right: 30px;
    left: 0;
    bottom: 0;
}

.form-control-sm ul {
    padding: 2px 8px;
}

.form-control-lg ul {
    padding: 2px 8px;
}

.caret {
    position: absolute;
    right: 8px;
    font-size: 8px;
    top: 0;
    bottom: 0;
    line-height: 38px;
}

.form-control-sm .caret {
    line-height: 31px;
}

.form-control-lg .caret {
    line-height: 48px;
    right: 12px;
}

.select2-container {
    position: relative;
}

.results-container {
    position: absolute;
    margin-top: -6px;
    width: 100%;
    z-index: 3;
}

a.select2-selection-remove {
    position: absolute;
    right: 10px;
}

.multiple-selection .select2-selected {
    margin: 0 1px;
    position: relative;
    padding: 4px;
    bottom: 1px;
}

.multiple-selection .select2-selected:first-child {
    margin-left: 0;
}

.multiple-selection a.select2-selection-remove {
    position: relative;
    right: initial;
}

a.select2-selection-remove:hover {
    cursor: pointer;
}

.select2-container .search-focused {
    color: #495057;
    background-color: #fff;
    border-color: #80bdff;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(0,123,255,.25)
}

.results-msg {
    display: block;
    position: relative;
    margin-top: -10px;
    margin-bottom: 10px;
    font-size: 0.8em;
    padding: 3px 5px;
    border-left: 1px solid #ced4da;
    border-right: 1px solid #ced4da;
    border-bottom: 1px solid #ced4da;
    background: #fafafa;
}

.readonly {
    background-color: #eaecf0;
}
